body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f3f2ef;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
    }
     header h1 {
      color: #0a66c2;
      font-size: 40px;
    }
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
    }
    .login-box {
      background: white;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 350px;
      text-align: center;
    }

    .login-box h2 {
      margin-bottom: 20px;
      color: #0a66c2;
    }

    .login-box input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .login-btn {
      background-color: #0a66c2;
      color: white;
      border: none;
      width: 100%;
      padding: 12px;
      border-radius: 25px;
      font-size: 16px;
      cursor: pointer;
    }

    .login-btn:hover {
      background-color: #004182;
    }

    .join-now {
      margin-top: 20px;
      color: #0a66c2;
      text-decoration: none;
      font-weight: bold;
    }

    footer {
      text-align: center;
      padding: 20px;
      background-color: #fff;
      color: #555;
    }